<launch>
    <arg name="topic" default="test" />
    <param name="image_topic" value="$(arg topic)" />
    <arg name="bitrate" default="2048" />
    <param name="bitrate" value="$(arg bitrate)" />
    <arg name="fps" default="15" />
    <param name="fps" value="$(arg fps)" />
    <arg name="url" default="test" />
    <param name="url" value="$(arg url)" />
    <arg name="speed-preset" default="5" />
    <param name="speed-preset" value="$(arg speed-preset)" />
    <arg name="qvalue" default="18" />
    <param name="qvalue" value="$(arg qvalue)" />
    <node name="test_rtsp_server" pkg="ros_rtsp" type="imageSetup.py" output="screen">  
    </node>
</launch>
